/*
 *  Row generator
 */
row($gutter = 20px)
    display: flex
    flex-wrap: wrap
    flex-basis: "calc(100% + %s )" % $gutter
    align-items: flex-start
    flex-direction: row

    &--centered
        align-items: center
        justify-content: center
    
    &--justify-center
        justify-content: center
        
    .row
        margin-left: -($gutter / 2)
        margin-right: -($gutter / 2)
    
    if $debug is true
        background-color: transparentify(blue, 20%)